* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: auto;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, rgb(11, 80, 26) 0%, rgb(1, 148, 20) 100%);
    background-image: url(/BlackJack/assets/img/pokerBoardGreyGreen.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #001d04;
}

.sum-container {
    width: 9%;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}


#dealer-total, #player-total {
    font-size: 1em; 
    font-weight: 100;
    text-shadow: 1px 1px 3px #000000;
}

#player-total {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -100%);
}
#dealer-total {
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -100%);
}

#banner {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 7vh;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center;
}

#poker-table {
    position: absolute;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    min-height: 500px;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
}

.board-container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}

.dealer {
    margin-top: 7.5vh;
    position: fixed;
    /*center position*/
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
}

.player {
    margin-top: 0vh;
    position: fixed;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.dealer, .player {
    height: fit-content;
    width: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1vw;
}

.dealer img, .player img {
    margin: 2.5vh 1.1vw;
    transform: scale(1.5);
    height: 9.2vh;
}

#hidden-card {
    border-radius: 8px;
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.50);
}

.buttons {
    margin: 3vh auto 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons button {
    font-size: 1em;
    font-weight: bold;
    width: 8rem;
    height: 70px;
    margin: 20px 10px;
    background-image: linear-gradient(#999, #444);
    color: white;
    border-color: white;
    border-radius: 50px;
    cursor: pointer;
}

#hitBtn, #stayBtn {
    transform: scale(.9);
}

.buttons button:hover {
    box-shadow: 0px 7px 39px -11px rgba(0,0,0,0.78);
    background-color: #e40000;
    background-image: linear-gradient(#b30000, #ff5656);
}

#game-over, #next-round {
    opacity: 0%;
    transition: opacity 1200ms;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color:  #00000070;
    height: 100vh;
    width: 100vw;
}

@keyframes delayedFadeIn{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.game-over-container, .next-round-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/BlackJack/assets/img/pokerBoardGreen.png");
    background-size: 100vw;
    background-position: center center;
    height: 11rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    border: 2px solid white;
}

.play-again {
    background-image: linear-gradient(#ff5656, #b30000);
    color: white;
    border-color: white;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    margin: 16px;
    padding: 15px 20px;
}

.play-again:hover {
    box-shadow: 0px 2px 30px -11px rgba(0,0,0,0.78);
    background-color: #e40000;
    background-image: linear-gradient(#b30000, #ff5656);
}

.card-image {
    border-radius: 8px;
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.50);
    transition: 200ms;
}

.card-image:hover {
    transform: scale(1.55);
    box-shadow: 0px 3px 9px 0px rgba(163, 255, 193, 0.5);
}

#betBtn {
    width: 13rem;
}

#betSlider {
    width: 14rem;
    padding-bottom: 10px;
}

input[type=range] {
-webkit-appearance: none; 
width: 100%;
background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
}

input[type=range]:focus {
outline: none;
}

input[type=range]::-ms-track {
width: 100%;
cursor: pointer;
background: transparent; 
border-color: transparent;
color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #ffffff;
    height: 1rem;
    width: 16px;
    border-radius: 30px;
    background: linear-gradient(#ff5656, #b30000);
    cursor: pointer;
    margin-top: -1px; 
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1rem;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: linear-gradient(#ffffff, #b6b6b6);
    border-radius: 30px;
    border: 1px solid #ffffff;
}

.betRange {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#betAmount {
    font-size: 1.5rem;
    padding: .5rem;
    margin-top: -9px;
}

#stats-container {
    font-weight: 700;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.options-container {
    position:fixed;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin1 { 
    0% { opacity: 0 } 
    100% { opacity: 1  }
}
.card-image {
    animation: spin1 300ms linear;
}

#chips, #currentBet {
    text-shadow: 1px 1px 3px #000000;
}

.no-mobile-support {
    display: none;
    width: 1000px;
    height: 1000px;
    background-color: #000000;
}

@media screen and (max-width: 800px) {
    body {
        background-image: url("");
        background-size: 100vw;
        background-position: center center;
    }
    .no-mobile-support {
        position:fixed;
        /*center position fixed*/
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*make the div fill the whole screen*/
        width: 100vw;
        height: 100vh;
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
    .board-container {
        display: none;
        opacity: 0;
    }
    #poker-table {
        display: none;
    }
}
