#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
    margin: 0 auto;
  
    #hero-desc-container {
      h1 > *{
        font-size: 1.6rem;
      }
    }
  
    .hero-desc {
      width: 50rem;
      font-size: 1.3rem;
      margin-bottom: .5rem
    }
  
    > img {
        width: 400px;
        border-radius: 100px;
    }
}

@media screen and (max-width: 800px) {
  #hero {
    .hero-desc {
      width: 90vw;
    }
  }
}
  