.selectable-info-panel {
    h1 {
        font-size: 2rem;
        text-align: center;
    }
}

.info-panel-title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 0 0;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    

    .item {
        font-family: 'Courier New', Courier, monospace;
        font-size: 2rem;
        margin: 1.5rem;
        cursor: pointer;
        position: relative;
      
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) scaleX(0);
          transform-origin: center;
          width: 100%;
          height: 1px;
          background-color: var(--text-color);
          transition: transform 0.2s ease-in-out;
        }
      
        &:hover::after,
        &.active::after {
          transform: translateX(-50%) scaleX(1);
        }
      
        // Rainbow style only on hover or active
        &.active,
        &:hover {
          color: transparent;
          /*background: linear-gradient(314deg,
            rgba(228, 51, 255, 1) 0%,
            rgba(74, 71, 255, 1) 13%,
            rgba(61, 252, 255, 1) 25%,
            rgba(108, 255, 213, 1) 37%,
            rgba(228, 51, 255, 1) 50%,
            rgba(108, 255, 213, 1) 63%,
            rgba(61, 252, 255, 1) 75%,
            rgba(74, 71, 255, 1) 87%,
            rgba(228, 51, 255, 1) 100%); */
          background: linear-gradient(344deg,var(--text-color) 0%, var(--text-color) 10%, var(--shine-color) 11%, var(--text-color)25%);
          background-size: 400% auto;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      
        &:hover {
          animation: rainbow-loop 10s linear infinite;
        }
      
        &.active {
          animation: rainbow-loop 10s linear infinite;
        }
    }
}

.info-container {
    display: flex;
    justify-content: space-evenly;

    h1 {
        font-size: 2rem;
        text-align: center;
    }
}

.info-box {
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    p {
        font-size: 1.3rem;
    }

    a {
        margin-top: 2rem;
        padding: 1rem 2rem;
        font-size: 1rem;
        color: var(--color-active);
        background-color: var(--secondary-color);
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        border: 2px solid var(--text-color);

        &:hover {
            background-color: var(--background-color);
        }
    }
}

@keyframes rainbow-loop {
0% {
    background-position: 1080% 0%;
}
100% {
    background-position: 0% 0%;
}
}
  
  
@media screen and (max-width: 800px) {
  .skills {
    h1{
      text-align: left;
    }
  }

  .selectable-info-panel {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 2rem 2rem;
  }
    .item-container {
        flex-direction: column;
        align-items: flex-end;
        text-align: left;
        flex-basis: 50%;
        border-right: 2px solid var(--text-color);

        .item {
          display: block;
          font-size: 1.5rem;
          margin: 1rem 2rem 1rem 0;
      } 
    }
    .info-box {
      display: flex;
      justify-content: flex-start;
      text-align: center;
      padding: 1rem;
      margin: 0 0 0 2rem;

      a {
        text-align: left;
      }
    }
    
}