.selectable-info-panel-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.selectable-info-panel {
    h1 {
        font-size: 2rem;
        text-align: center;
    }
}

.info-panel-title {
  font-size: 2rem;
  margin: 2rem 0 0 0;
  padding-bottom: .5rem;
  text-align: center;
  border-radius: 5px;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;;
    margin: 0 auto;
    color: var(--secondary-text-color);
    border-bottom: 1px solid var(--secondary-color);
    border-radius: 10px;
    .item {
        font-size: 2rem;
        margin: 1.5rem;
        cursor: pointer;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) scaleX(0);
          transform-origin: center;
          width: 100%;
          height: 1px;
          background-color: var(--text-color);
          transition: transform 0.2s ease-in-out;
        }
      
        &:hover::after,
        &.active::after {
          transform: translateX(-50%) scaleX(1);
        }
      
        &.active,
        &:hover {
          color: transparent;
          background: linear-gradient(344deg,
          var(--text-color) 0%,
          var(--text-color) 10%,
          var(--shine-color) 11%,
          var(--text-color) 25%);
          background-size: 400% 600%;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      
        &:hover {
          animation: shine-loop 20s linear infinite;
        }
      
        &.active {
          animation: shine-loop 20s linear infinite;
        }
    }
}

.info-container {
    display: flex;
    justify-content: center;
    min-height: 20vh;
    border-radius: 5px;
    flex-basis: 70%;

    
    h1 {
        font-size: 2rem;
    }
    
    
}

.projects {
  justify-content: flex-start;
}

.info-box {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    h2 {
      font-size: 1.5rem;
      margin: 0;
      color: var(--secondary-text-color);
      text-align: left;
    }

    .technologies {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
        .tech-item {
          margin: .5rem .5rem .5rem 0;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          padding: .2rem .7rem .2rem 0;
          align-items: center;
          * {
            font-weight: 100;
            margin: .1rem;
          }
      }
    }

    p {
        font-size: 1.3rem;
        font-weight: 100;
        text-align: left;
    }
    //button
    a {
        margin-top: 1rem;
        padding: .5rem 1.5rem;
        font-size: 1rem;
        color: var(--color-active);
        background-color: var(--secondary-color);
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        border: 3px solid var(--text-color);
        max-width: fit-content;
        &:hover {
            background-color: var(--secondary-hover-color);
            text-decoration: underline;
        }
    }
}

.projects {
  justify-content: flex-start;
}


@keyframes shine-loop {
0% {
    background-position: 1080% 100%;
}
100% {
    background-position: 0% 100%;
}
}
  
  
@media screen and (max-width: 800px) {
  .skills {
    h1{
      text-align: left;
    }
  }

  .info-container {
    margin: 0;
    padding: 0;
  }

  .selectable-info-panel-container {
    padding: 0;
    margin: 0;
  }

  .selectable-info-panel {
    margin: 0 auto;
    padding: 0 1rem;
  }
    .item-container {
        margin: 0;
        padding: 0;
        border-bottom: 2px solid var(--secondary-color);
        .item {
          display: block;
          font-size: 1.5rem;
          margin: 1rem 2rem 1rem 0;
          text-align: right;
      } 
    }
    .info-box {
      display: flex;
      text-align: left;
      flex-basis: 80%;
      padding: 1rem;
      .date {
          font-size: 1rem;
        }
      .technologies {
        .tech-item {
          * {
            font-size: 1rem;
          }
      }
    }
      a {
        text-align: left;
      }
    }
    
}

@media screen and (max-width: 500px) {
  .selectable-info-panel {
  }
}