@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:calc(8px + .1vw);
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* Base light mode (default) */
:root {
  --color-default: black;
  --theme-color: rgb(255, 248, 239);
  --background-gradient: linear-gradient(149deg, rgb(255, 248, 239), rgb(255, 244, 228));
}

body {
  min-height: 100vh;
  color: var(--color-default);
  background: var(--background-gradient);
  transition: background 1.5s ease;
}


/* Dark mode */
body.dark {
  --color-default: white;
  --theme-color: rgb(17, 18, 20);
  --background-gradient: linear-gradient(149deg, rgb(53, 53, 65), rgb(17, 18, 20));
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width: 1000px) {
  :root{
    font-size: .8rem
  }
  body {
    background-size: 1000%;
  }
}