@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:calc(8px + .1vw);
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

:root {
  --text-color: #000000;
  --secondary-text-color: #948979;
  --theme-color: rgb(255, 248, 239);
  /* --background-gradient: linear-gradient(149deg, rgb(255, 248, 239), rgb(255, 244, 228)); */
  --background-color: #F2F2F2;
  --secondary-color: #d1d1d1;
  --shine-color: #686868;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--background-color);
}

body.dark {
  --text-color: #DFD0B8;
  --secondary-text-color: #948979;
  --theme-color: rgb(17, 18, 20);
  --background-color: #222831;
  --secondary-color: #393E46;
  --shine-color: #fff;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width: 1000px) {
  :root{
    font-size: .8rem
  }
  body {
    background-size: 1000%;
  }
}